<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>Main</title>
    <style>
        #chat{
            height: 700px; 
            overflow: auto;
        }
        .other-chat{
            position:relative;
        }
        .other-id{
            position:absolute;
          top:-6px;
        }
        .other-chat-item{
            border: none;
          border-radius: 1rem;
          background-color:#e7e9eb;
          min-height:50px;
          max-width:500px;
          text-align:left;
        }
        .other-date{
            display:flex;
          align-items:end;
        }
        
        .my-chat-item{
            border: none;
          border-radius: 1rem;
          background-color:#296bfb;
          color:white;
          min-height:50px;
          max-width:500px;
          text-align:right;
        }
        .my-date{
            display:flex;
          align-items:end;
        }
        </style>
</head>
<body>

<section layout:fragment="content">
<!--    content-->
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">

            <div id="chat" class="px-3">
                <th:block th:each="chat : ${history}">

                    
                    <!-- 내가 보낸 메시지 -->
                    <div class="d-flex flex-row-reverse pb-3 my-chat"
                        th:if="${#strings.equals(chat.senderId, #authentication.name)}">
                        <div class="my-chat-item p-3">
                            <div>[[${chat.message}]]</div>
                        </div>
                        <div class="my-date me-1">[[${chat.chatTime}]]</div>
                    </div>

                    <!-- 상대가 보낸 메시지 -->
                    <div class="d-flex flex-row pt-3 other-chat" 
                        th:unless="${#strings.equals(chat.senderId, #authentication.name)}">
                        <div class="me-1 other-id">[[${chat.senderId}]]</div>
                        
                        <div class="other-chat-item p-3">
                            <div>[[${chat.message}]]</div>
                        </div>
                        <div class="other-date ms-1">[[${chat.chatTime}]]</div>
                    </div>

                </th:block>
            </div>
            
            <div id="sendChat" class="input-group mt-3">
                <input type="text" name="message" id="sendMessage" value="" class="form-control"/>
                <button id="sendChatBtn" class="btn btn-success">보내기</button>
            </div>

        </div>
    </div>


<!--    script-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        $(function(){
            connectStomp();
        });

        let header = $("meta[name='_csrf_header']").attr('content');
        let token = $("meta[name='_csrf']").attr('content');

        var headers = {};
        headers[header] = token;

        /*<![CDATA[*/
        const myId = /*[[ ${#authentication.name} ]]*/;
        /*]]*/
        let temp = window.location.pathname.replace("/chat/","").split('/');
        const roomId = temp[0];
        const otherId = temp[1];

        let sock = new SockJS(`http://${location.host}/ws/chat`);
        let ws = Stomp.over(sock);


        function connectStomp(){
            $("#chat").scrollTop($("#chat")[0].scrollHeight); 
            ws.connect(headers,function(){
                console.log('ws connect!')

                ws.subscribe("/sub/chat/receive/"+roomId,function(event){
                    let data = JSON.parse(event.body);
                    let sender = data.senderId;
                    let message = data.message;
                    let time = data.chatTime;

                    if(sender != myId){
                        receiveMessage(sender,message,time);
                    }

                });


            });
        };

        $('#sendChatBtn').on("click",function(event){
            sendMessage();
        });

        function sendMessage(){
            let message = $('#sendMessage').val();
            ws.send("/pub/sendMessage/"+roomId+"/"+myId,{},JSON.stringify({
                "chatRoomId" : roomId,
                "senderId" : myId,
                "receiverId" : otherId,
                "message" : message,
                "chatTime" : getTimeAndSec()
            }));

            sendAndView(message,getTime());

            $('#sendMessage').val('');
            $("#chat").scrollTop($("#chat")[0].scrollHeight); 
        ;}

        function getTime(){
            var today = new Date();
            var year = today.getFullYear();
            var month = ('0' + (today.getMonth()+1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var hours = ('0' + (today.getHours())).slice(-2);
            var minutes = ('0' + (today.getMinutes())).slice(-2);

            return year + '-' + month + '-' + day + " " + hours + ":" + minutes; 
        }

        function getTimeAndSec(){
            var today = new Date();
            var year = today.getFullYear();
            var month = ('0' + (today.getMonth()+1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var hours = ('0' + (today.getHours())).slice(-2);
            var minutes = ('0' + (today.getMinutes())).slice(-2);
            var sec = ('0' + (today.getSeconds())).slice(-2);
            return year + '-' + month + '-' + day + " " + hours + ":" + minutes + ":" + sec; 
        }

        function sendAndView(message,time){
            $('#chat').append(`
                <div class="d-flex flex-row-reverse pb-3 my-chat">
                <div class="my-chat-item p-3">
                    <div>${message}</div>
                </div>
                <div class="my-date me-1">${time}</div>
                </div>
            `);
        }

        function receiveMessage(senderId,message,time){
            $('#chat').append(`
                <div class="d-flex flex-row pt-3 other-chat">
                <div class="me-1 other-id">${senderId}</div>
                    <div class="other-chat-item p-3">
                        <div>${message}</div>
                    </div>
                <div class="other-date ms-1">${time}</div>
                </div>
            `);
        }


    </script>
</section>

</body>
</html>