<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout/myInfoLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded">
            <h3>할일 등록 방법</h3>
            <img src="/assets/howto_chat.png" class="img-fluid" alt="intro-img">
            <br/>

            <h3>할일 수정 방법</h3>
            <img src="/assets/howto_todomodify.png" class="img-fluid" alt="intro-img">
            <br/>

            <h3>채팅 방법</h3>
            <img src="/assets/howto_todo.png" class="img-fluid" alt="intro-img">
            <br/>

            <h3>내 정보 수정 방법</h3>
            <img src="/assets/howto_modifyinfo.png" class="img-fluid" alt="intro-img">
            <br/>

        </div>
    </div>

    <!--    스크립트-->
    <script th:inline="javascript">
    </script>

</section>
</body>
</html>