<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#D3CBBE;" th:fragment="navFragment">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="/todo/main" style="color: black;font-weight: bold;">SHARE MY TODO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/todo/main" style="color: black;font-weight: bold;">홈</a></li>
        <li class="nav-item"><a class="nav-link" href="/friend/list" style="color: black;font-weight: bold;">친구 목록</a></li>
        <li class="nav-item"><a class="nav-link" href="/board" style="color: black;font-weight: bold;">건의하기</a></li>
        <li class="nav-item"><a class="nav-link" href="/member/my-info" style="color: black;font-weight: bold;">내 정보</a></li>
        <li class="nav-item"><a class="nav-link" href="/notice/list" style="color: black;font-weight: bold;" id="noticeCount">알림:0건</a></li>
        <th:block sec:authorize="isAnonymous()">
          <li class="nav-item"><a class="nav-link" href="#!" style="color: black;font-weight: bold;">로그인</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
          <li class="nav-item"><a class="nav-link" href="#" style="color: black;font-weight: bold;" data-bs-toggle="modal" data-bs-target="#signOutModal">로그아웃</a></li>
        </th:block>
      </ul>
    </div>
  </div>

  <!-- signOut Modal -->
  <div class="modal fade" id="signOutModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">로그아웃</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          로그아웃 하시겠습니까?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <form th:action="@{/member/signOut}" method="post" >
            <sec:csrfInput />
            <input type="submit" value="Yes" class="btn btn-danger" />
          </form>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <script th:inline="javascript">
        $(function(){

          $.get("/notice/checkNotice",
                      function(noticeCount){
                          console.log("noticeCount =" + noticeCount);
                          $("#noticeCount").text('알림:'+noticeCount+'건');
                      }
                  )

        })

    </script>

</nav>