<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Modify Page</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <div class="m-4 m-lg-5">
                <form method="post" th:action="@{/board/suggest-modify}">
                    <sec:csrfInput/>
                    <div class="input-group justify-content-center">
                        <h3>건의사항 수정</h3>
                    </div>
                    <div class="input-group justify-content-center">
                        <div class="col-8">
                            <h5>제목</h5>
                            <input type="text" class="form-control" placeholder="title" name="title" th:value="${board.title}"/>
                        </div>
                    </div>

                    <div class="input-group justify-content-center mt-4">
                        <div class="col-8">
                            <h5>내용</h5>
                            <textarea class="form-control" placeholder="content" id="board-posting-content"
                                      style="height: 400px;resize: none;" name="content" th:text="${board.content}" th:value="${board.content}"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="boardId" th:value="${board.boardId}" />
                    <input type="hidden" name="writer" th:value="${board.writer}" />

                    <div class="input-group justify-content-center mt-4">
                        <div class="col-8 text-end" id="board-submit">
                            <input type="submit" value="수정" class="btn btn-secondary">
                            <a class="open-delete-modal btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- delete Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">게시물 삭제</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <form th:action="@{/board/delete}" method="post" >
                        <sec:csrfInput />
                        <input type="hidden" th:value="${board.boardId}" name="boardId">
                        <input type="submit" value="Yes" class="btn btn-danger" />
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>
