<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Friend List</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded">

            <div class="alert bg-light px-5">
                <div class="text-center">
                    <h3>친구 목록</h3>
                </div>
                <div class="row">
                    <div class="col-12 mb-3" style="text-align: -webkit-center;">
                        <form style="max-width:70%;text-align-last: center;" method="post" th:action="@{/friend/follow-request}">
                            <sec:csrfInput/>
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" name="followId" placeholder="팔로우 할 아이디를 입력 해 주세요">
                                <input type="submit" class="btn btn-success" value="요청" />
                            </div>
                        </form>
                    </div>
                    <div class="col-12 text-end">
                        <a href="/friend/request-list" class="btn btn-secondary">보낸 요청</a>
                        <a href="/friend/requested-list" class="btn btn-secondary">받은 요청</a>
                    </div>
                </div>
            </div>

            <div class="alert alert-success d-flex  justify-content-between px-5"
                 th:each="friend : ${friendList.friendList}" style="align-items: center;"
                 th:if="${!#lists.isEmpty(friendList.friendList)}">
                <strong>[[${friend.memberId}]]</strong>
                <div class="d-flex" style="align-items: center;">
                    <div class="mx-3">저번주 달성률 : [[${friend.lastWeekRate}]]%</div>
                    <div class="mx-3">이번주 달성률 : [[${friend.thisWeekRate}]]%</div>
                    <a class="open-unfollow-modal btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#unfollowModal" th:data-id="${friend.memberId}">UnFollow</a>
                </div>
            </div>

            <h4 th:if="${#lists.isEmpty(friendList.friendList)}">
                추가된 친구가 없습니다.
            </h4>

        </div>
    </div>

    <!-- unfollow Modal -->
    <div class="modal fade" id="unfollowModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">팔로우 취소</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="unfollowBody">
                    ~님을 언팔로우 하시겠습니까?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <form th:action="@{/friend/unfollow}" method="post" >
                        <sec:csrfInput />
                        <input type="hidden" value="" id="unfollow-friendId" name="unfollowMemberId">
                        <input type="submit" value="Yes" class="btn btn-danger" />
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/

        $(function(){
            let msg = [[${msg}]];
            if(msg != null){
            alert(msg);
            }

            $('.open-unfollow-modal').on('click',function(){
             let unfollowMemberId = $(this).data('id');
             $('#unfollow-friendId').val(unfollowMemberId);
             $('#unfollowBody').text(unfollowMemberId + '님을 언팔로우 하시겠습니까?');
             console.log(unfollowMemberId);
            })
        })



    /*]]>*/
    </script>
</section>

</body>
</html>