<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<section layout:fragment="content">
    <!--    할일 작성-->
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-top" id="todo-list-input">
            <div class="m-4 m-lg-5">
                <!--                할일 작성 폼-->
                <form method="post" th:action="@{/todo/posting}">
                    <sec:csrfInput/>
                    <div class="input-group mb-3">
                        <span class="input-group-text">할일 작성</span>
                        <input type="text" class="form-control" maxlength="30" name="todo">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">목표 날짜</span>
                        <input type="date" class="form-control" name="finishDate">
                        <button class="btn btn-success" type="submit">TODO!</button>
                    </div>

                </form>
            </div>
        </div>

        <!--        할일 목록-->
        <div class="p-2 p-lg-5 bg-light rounded-bottom" id="todo-list-div">
            <div class="m-4 m-lg-5">
                <!--                할일 아이템-->

                <div class="input-group mb-3" th:each="item : ${todoList}">
                    <span class="input-group-text" th:text="${item.finishDate}">~ 2022-02-15</span>
                    <input type="text" class="form-control" th:value="${item.todo}" readonly disabled>
                    <a class="btn btn-warning" type="button"
                       th:href="@{|/todo/modify-todo?todoId=${item.todoId}|}">수정</a>
                    <a class="btn btn-primary" type="button"
                       th:href="@{|/todo/complete-todo?todoId=${item.todoId}|}">완료</a>
                </div>


            </div>
        </div>
    </div>

    <script th:inline="javascript">

    /*<![CDATA[*/

    var error = [[${error}]];
    if(error != null){
    alert(error);

    location.replace('/todo/main');
    }
    /*]]>*/


    </script>
</section>

</body>
</html>