<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded">
            <form th:action="@{/member/modify-info}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input type="text" name="memberId" th:value="${member.memberId}" class="form-control" readonly />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">이름</span>
                    <input type="text" name="name" th:value="${member.name}" class="form-control">
                    <button class="btn btn-success" type="submit">수정하기</button>
                </div>
            </form>

            <form th:action="@{/member/modify-password}" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">비밀번호</span>
                <input type="password" name="password" class="form-control"/>
                <button class="btn btn-success" type="submit">비밀번호 수정</button>
            </div>

        </form>
        </div>
    </div>

<!--    스크립트-->
    <script th:inline="javascript">

    /*<![CDATA[*/

    var err = [[${err}]];
    if(err != null){
    alert(err);
    }

    var msg = [[${msg}]]
    if(msg != null){
    alert(msg);
    }

    /*]]>*/

    </script>

</section>
</body>
</html>