<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout/basicLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>todo modify page</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded">

            <form method="post" th:action="@{/todo/modify}">
                <sec:csrfInput/>
                <div class="input-group mb-3">
                    <span class="input-group-text">할일 수정</span>
                    <input type="text" class="form-control" maxlength="30" name="todo" th:value="${item.todo}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">목표 날짜</span>
                    <input type="date" class="form-control" name="finishDate">
                    <button class="btn btn-success" type="submit">TODO!</button>
                </div>
                <div class="input-group mb-3">
                    <input type="hidden" th:value="${item.todoId}" name="todoId">
                </div>
            </form>

        </div>
    </div>

</section>

</body>
</html>